<% javascript_include_tag "vacations" %>

<script src="/javascripts/vacations.js" type="text/javascript"></script>

<%= render 'form' %>

<div id="tableHolder" style="float:left; margin-top:10px; width:600px;">
  <%= render 'table' %>
</div>



