<% javascript_include_tag "vacations" %>

<script src="/javascripts/vacations.js" type="text/javascript"></script>

<%= render 'form' %>

<div id="jqgrid">
  <table id="vacations_list"></table>
  <div id="vacations_pager"></div>
</div>



