<% javascript_include_tag "vacations" %>

<script src="/javascripts/vacations.js" type="text/javascript"></script>

<%= render 'form' %>

<!--TODO add years filter for the days remaining and table - default to this year-->

<div id="days_remaining">
  Days Remaining:<%=@days_remaining%>
</div>

</br>

<div id="tableHolder" style="float:left; width:600px;">
  <%= render 'table' %>
</div>




