<% javascript_include_tag "vacations" %>

<script src="/javascripts/vacations.js" type="text/javascript"></script>

<%= render 'form' %>

<div id="tableHolder" style="float:left; width:600px;">
  <%= render 'table' %>
</div>

<!--<div id="dialog-modal" title="Cancel Holiday" style="display:none;">-->
	<!--<p>Selecting 'Cancelled' will delete the holiday when saved</p>-->
<!--</div>-->



