<div id="holidayFormDialog">
  Placeholder stuff - add a form here!
</div>

<div id="calendar"></div>

<!--<script type="text/javascript">
//    $(document).ready(function() {
//
//        //TODO pass this in from a js event
//        var d = new Date();
//
//        var days_in_month = daysInMonth(d.getMonth() + 1, d.getYear());
//        var start_of_month = d;
//
//        start_of_month.setDate(1);
//        var start_day = start_of_month.getDay();
//
//        var x = 1;
////        #TODO add class with date, which can allow the json data to be attached
//        $('table.calendar td').each(function() {
//            if (x < start_day || days_in_month == 0) {
//                x = x + 1;
//            } else {
//                var dayToShow = ""+ x - start_day + 1;
//                $(".day", this).text(dayToShow);
//                x = x + 1;
//                days_in_month = days_in_month - 1;
//                $('.day', this).addClass('date'+ dayToShow);
//            }
//        });
//
//        var divToInsert = '<div id="event" class = "event">Eamons holiday</div>'
//        $('.date4').append(divToInsert);
//
////        TODO add an event which gets the json data for the calendar
////        TODO REMOVE any empty rows
//
//        var jsonForCalendar = $.getJSON("/vacations/get_details");
//
//    });
//
//    function daysInMonth(month, year) {
//        var dd = new Date(year, month, 0);
//        return dd.getDate();
//    }
//
</script>-->

