
body {
    /*background-image: url("/images/palm_trees.gif");*/
    background-image: url('/images/BlueToWhiteGradient.jpg');
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    /*filter: alpha(opacity=50);*/
    /*-moz-opacity: 0.5;*/
    /*-khtml-opacity: 0.5;*/
    /*opacity: 0.8;*/
}

#container {
    overflow: auto;
    width: 70%;
    margin: 0 auto;
    /*background-image: url('/images/BlueToWhiteGradient.jpg');*/
    background-color: white;
    padding: 20px 40px;
    border: solid 1px black;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 20px;
    height: 800px;
}

#signin {
    position: absolute;
    right: 170px;
    top: 40px;
    font-family: tahoma arial;
    font-style: normal;
}

#signin a {
    padding-right: 10px;
}

#flash_notice, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

.fieldWithErrors {
    display: inline;
}

#errorExplanation {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px;
}

#errorExplanation ul {
    margin: 2px 24px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: disc;
}

.login {
    position: absolute;
    float: right;
    top: 20px;
    right: 15%;
}

.simple_form label {
    float: left;
    width: 150px;
    text-align: right;
    margin: 2px 10px;
}

.simple_form div.input {
    margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
    margin-left: 120px;
}

.simple_form div.boolean label {
    float: none;
    margin: 0;
}

#top_navigation {
    width: 90%;
    height: 50px;
}

#top_navigation ul {
    padding-left: 0;
    margin-left: 0;
    background-color: #036;
    color: white;
    float: left;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
}

#top_navigation ul li {
    display: inline;
}

#top_navigation ul li a {
    padding: 0.4em 2em;
    background-color: #036;
    color: white;
    text-decoration: none;
    float: left;
    border-right: 1px solid #fff;
}

#top_navigation ul li a:hover {
    background-color: #369;
    color: #fff;
}

#vacation_errors {
    background-color: #f3f8d1;
    border: 1px solid #ff0049;
    width: 300px;
    font-size: medium;
    float: right;
    font-weight: bold;
    padding: 10px;
}

#vacations_form {
    position: relative;
    width: 100%;
    height: 270px;
    top: 30px;
}

#new_vacation {
    width: 100%;
    height: 250px;
}

.vacation legend {
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-left: 10px;
    padding: 0.2em 0.5em;
    color: green;
    font-size: 100%;
    text-align: right;
}

fieldset.vacation {float:left}

.vacation fieldset {
    position: relative;
    width: 50%;
    top: 20px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*left: 50px;*/
}

fieldset.create {
    border: 2px solid green;
}

.create legend {
    border: 2px solid green;
    background-color: #4ca20b;
    color: white;
}

fieldset.update {
    border: 2px solid red;
}

.update legend {
    border: 2px solid red;
    background-color: #fa4242;
    color: white;
}

.row_highlight {
    color: red;
    font-weight: bold;
}

#jqgrid {
    position: relative;
    top: 90px;
}

#jqgrid2 {
    position: relative;
    top: 50px;
}

#main_login {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #3e3636;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 50%;
    margin-top: 120px;
    margin-bottom: auto;
    background-color: #097e09;
    color: white;
}

#admin_grid {
    top: 20px;
}

