<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1><%= @user.full_name %> Has changed their holiday</h1>

<p>
  From: <%= @holiday.date_from.strftime("%d/%m/%y") %> to <%= @holiday.date_to.strftime("%d/%m/%y") %>
</p>
<!--<p>-->
<!--To authorize this holiday, just follow this link: <%#= @url %>.-->
<!--Or log in to the application and do it from there.-->
<!--</p>-->
<p>
  To authorize this holiday, please log in to the application.
</p>
</body>
</html>