<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.email %> Has requested some time off</h1>
    <p>
      This cheeky monkey doesn't want to come to work. Instead they would rather watch daytime telly.
    </p>
    <p>
      To authorize this holiday, just follow this link: <%= @url %>.
      Or log in to the application and do it from there.
    </p>
  </body>
</html>