<h1>Change holiday year start date</h1>

<table>
  <tr>
    <th>Current Year Start</th>
    <th>Current Year End</th>
  </tr>
  <tr>
    <td><%=@year_start%></td>
    <td><%=@year_end%></td>
  </tr>
</table>
</br>
<%= render 'form' %>
